<div class="container">
  <div class="custom-mock">
    <h2>Gerador de Mock e Interface</h2>
    <form [formGroup]="customMockForm" (ngSubmit)="generateCustomMock()">
      <div formArrayName="fields">
        <div *ngFor="let field of fields.controls; let i = index" [formGroupName]="i" class="field-row">
          <input formControlName="key" placeholder="Chave" />
          <select formControlName="type">
            <option value="string">String</option>
            <option value="number">Number</option>
            <option value="boolean">Boolean</option>
          </select>
          <button type="button" style="width: 100px;" (click)="removeField(i)">Remover</button>
        </div>
      </div>
      <div style="display: flex; justify-content: center; gap: 16px;">
        <button type="button" (click)="addField()">Adicionar Campo</button>
        <button *ngIf="fields.length > 0" type="submit" [disabled]="fields.length == 0">Gerar Mock</button>
      </div>
    </form>

  </div>

  <!-- Mock Gerado e Interface Gerada -->
  <div *ngIf="mockData" style="display: flex; gap: 16px; margin-top: 16px; width: 100%; max-width: 800px;">
    <div style="flex: 1;">
      <h3>Mock Gerado:</h3>
      <pre >{{ mockData | json }}</pre>
      <button *ngIf="mockData" (click)="copyToClipboard(mockData)">Copiar Mock</button>
    </div>

    <div style="flex: 1;">
      <h3>Interface Gerada:</h3>
      <pre>{{ generatedInterface }}</pre>
      <button *ngIf="generatedInterface" (click)="copyToClipboard(generatedInterface)">Copiar Interface</button>
    </div>
  </div>
</div>
